.cart-image{
    width:280px;
    border-radius: 10px;
    height:250px; 
    border: 2px solid rgb(253, 241, 241);
}


.input{
    border-radius: 7px;
    margin-left:3px;
    margin-right: 3px;
    margin-bottom:50px;
    max-width:150px;
}

.btn-custom{
    font-weight: bold;
}

.product-name{
    color:rgb(222, 211, 211);
}

.cartItem{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top:30px;
    
}

.empty-cart{
    width:100%;
    height: 92vh;
    background-image: url('../../images/background-espresso.jpg');
    background-position: center;
    background-size: cover;
    color:rgba(255, 255, 255, 0.5)
}

.customized-btn{
    height:60px;
    width:120px;
    background-color: rgb(90, 53, 37);
    color:white;
}

.customized-btn:hover{
    background-color: rgb(126, 82, 54);
    color:rgb(47, 20, 5);
    border:1px solid rgb(255, 255, 255);
   
}



.subtotal{
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
    margin-top:35px;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.custom-backgroundSize{
    min-height: 94.5vh;
    margin:0;
}


.description{
    width:280px;
    height:250px;
}